@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SignalR TCP Bridge</h1>
    <p>Click following link to preview the incomming TCP Server messages<a asp-controller="Home" asp-action="SignalRBridge">Click here</a></p>
</div>
